body{
    background-color: #61677A;
    color:white;
    font: rubik, helvetica, arial, sans-serif;
    margin-top: 60px;
}
main{
    background-color:  #272829;
    border-radius: 80px;
}
#img-caption{
    margin-top:10px;
}
header{
    text-align: center;
    padding-top: 10px;
}

#image{
    max-width: 100%;
    display: block;
    height: auto;
    width: 70%;
    margin: 0 auto;
}
#tribute-info, figcaption{
    text-align: center
}
.content{
    margin: 0% 10% 5% 10%;
}
#caps{
    padding: 20px;
}